body{
  overflow: scroll;
  width: 100%;
  font-family:Poppins;
  text-color:#EAAB1B;

  }

  .container{
  width: 100%;
  height: 100%;
  padding: 60PX;
  Background-Color: #e1e3e1 ;
}

/* eattogether style */

.eattogether{
width: 100%;
height: 100%;
padding: 60PX;
}
.second1{
  padding: 15px;
  height: 400px;
  width: 620px;
  box-sizing: border-box;

}
#one{
  float: left;
  height: 200 px;
  width: 300px;
  margin: 0 10px 0 0;
  }




.exploremenu{
width: 65%;
height: 100%;
padding: 60PX;
text-align: center;
}

#boxes{
  display: flex;
 flex-direction: row;
 align-items: right;
}
#boxes1{
  display: flex;
  flex-direction: row;
 align-items: right;
}

.ho1, .ho2, .ho3, .ho4, .ho5, .ho6,{
  box-sizing: border-box;
  background-color: white;
  height: 170px;
  width: 70px;
  padding: 5px;
  float: right;
}
#tw2{
  box-sizing: border-box;
  background-color: red;
  float: left;
  height: 30 px;
  width: 30px;
  margin: 0 0px 0 0;
  }

/* hot deal styling */

  .hotdeal{
  width: 100%;
  height: 100%;
  padding: 60PX;
  }

  .second2{
    padding: 15px;
    height: 400px;
    width: 620px;
    box-sizing: border-box;

  }
  #two2{
    float: left;
    height: 200 px;
    width: 300px;
    margin: 0 10px 0 0;
    }



footer{
width: 100%;
height: 100%;
padding: 60PX;
}







h1 {
  font-size: 4em;

}

h3 {
  font-size: 1.3em;
}
.content {
  margin: 0 0 0 10px;
  box-shadow: 0 0 20px 0px #888888;
}

}
img {
  max-height: 200px;
}
p {
  margin-top: 5px;
  font-size: 0.9em;
  text-align: justify;
  margin-bottom: 10px;


}
.column p {
  font-family: times;
  font-size: 0.8em;
}







}

nav {
   margin: 0 auto;
   padding: 0.1% 0;
   margin-right: 0%;
   Background-Color: #e1e3e1 ;
}

.first{
  padding: 15px;
  height: 400px;
  width: 285px;
  box-sizing: content-box;
}

.second1{
  padding: 15px;
  height: 400px;
  width: 620px;
  box-sizing: border-box;

}
#one{
  float: left;
  height: 200 px;
  width: 300px;
  margin: 0 10px 0 0;
  }

span{
  color: #EAAB1B;
}
#span1{
  color: #6CB840;
}
.button1 {
  background-color: #6CB840;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px 30px;
  width: 110px;
}



/* Here is the styling of the links */

ul {
  padding: 10px;
  width: 100%;
}

li {
  display: block;
}

a {
  outline: none;
  text-decoration: none;
  width: 19.5%;
  margin-right: 3.625%;
  text-align: left;
  line-height: 3;
  color: black;
}

li:last-child a {
  margin-right: 0;
}
