
body,html {
font-family:Poppins;
text-color:EAAB1B
}

.container{
  width: 100%;
  height: 100%;
  padding: 60PX;
  position: absolute;
  Background-Color: #e1e3e1 ;
}

nav {
   margin: 0 auto;
   padding: 0.1% 0;
   margin-right: 0%;
}

.first{
  padding: 15px;
  height: 300px;
  width: 285px;
  box-sizing: content-box;
}


span{
  color: #EAAB1B;
}
#span1{
  color: #6CB840;
}
.button1 {
  background-color: #6CB840;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px 30px;
  width: 110px;
}






/* Here is the styling of the links */

ul {
  padding: 10px;
  width: 100%;
}

li {
  display: block;
}

a {
  outline: none;
  text-decoration: none;
  width: 19.5%;
  margin-right: 3.625%;
  text-align: left;
  line-height: 3;
  color: black;
}

li:last-child a {
  margin-right: 0;
}

a:link, a:visited, a:focus {
color: none;
}

a:hover {
  background: orange;
}

a:active {
  color: white;
}




#one{
  float: left;
  height: 200 px;
  width: 300px;
  margin: 0 10px 0 0;
  }




  site-main .about-area .about-title p{
      padding: 1rem 7rem;
  }

  .site-main .about-area .client{
      background: #ffffff10;
      box-shadow: var(--box-shadow);
      margin: 3rem 0rem;
  }

  .site-main .about-area .client .client-img{
      padding: 2rem;
  }

  .site-main .about-area .client .about-client{
      padding-top: 2rem;
  }

  .site-main .about-area .client .about-client h4{
      font: normal 500 21px/ 20px var(--roboto);
  }

  .site-main .about-area .client .about-client p{
      font-size: 14px;
  }

  .site-main .about-area .owl-carousel .owl-item{
      display: flex;
      justify-content: center;
      padding: 0 1.5rem;
  }

  .site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
      background: var(--primary-color);
      width: 12px;
      height: 12px;
  }
