
body,html {
font-family:Poppins;
text-color:EAAB1B
}

.container{
  width: 100%;
  height: 100%;
  padding: 60PX;
  position: absolute;
  Background-Color: #e1e3e1 ;
}

nav {
   margin: 0 auto;
   padding: 0.1% 0;
   margin-right: 0%;
}

.first{
  padding: 15px;
  height: 300px;
  width: 285px;
  box-sizing: content-box;
}

.button1 {
  background-color: #6CB840;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px 25px;
  width: 180px;
}




.eatingtogether{
  height: 100% ;
  width: 100%;
}


/* Here is the styling of the links */

ul {
  padding: 10px;
  width: 100%;
}

li {
  display: block;
}

a {
  outline: none;
  text-decoration: none;
  width: 19.5%;
  margin-right: 3.625%;
  text-align: left;
  line-height: 3;
  color: black;
}

li:last-child a {
  margin-right: 0;
}

a:link, a:visited, a:focus {
color: none;
}

a:hover {
  background: orange;
}

a:active {
  color: white;
}
